<div [className]="'app'">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
        <p>
            <label>First Name:</label>
            <input type="text" formControlName="userName">
        </p>
        <p class="alert" *ngIf="form.controls.userName.invalid && form.controls.userName.touched ">The name is required</p>
        <p>
            <label>Password:</label>
            <input type="password" formControlName="password">
        </p>
        <p class="alert"  *ngIf="form.controls.password.errors?.minlength && form.controls.password.touched " >Minimum 8 characters</p>	
        <p class="alert" *ngIf="form.controls.password.errors?.pattern && form.controls.password.touched " >At least 1 upper case character</p>
        <p class="alert" *ngIf="form.controls.password.errors?.pattern && form.controls.password.touched " >At least 1 lower case character</p>	
        <p class="alert" *ngIf="form.controls.password.errors?.pattern && form.controls.password.touched " >At least 1 digit</p>	
        
        <p>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </p>

      
     
    </form>
</div>
